# -----------------
# Android Studio
# -----------------
*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild

# -----------------
# Backend (PHP / Node / otros)
# -----------------
vendor/
*.log
.env

# -----------------
# Archivos generales
# -----------------
.DS_Store
*.swp
